main{
  margin-top:120px;
  text-align: center;
}
 header i{
  color:black;
}
h2{
  padding:40px;
  font-size: 30px;
}
h6{
  padding:20px;
}
span{
  color:black;
  font-weight: bold;
}
footer{
  background-color: black;
  text-align: center;
  color:white;
  padding:30px;
}
.footer-icons{
  color:white;
  font-size:35px;
  padding :10px;
}

.footer-bottom{
  margin: bottom;
}
