*{
  padding:0px;
  margin:0px;
}
.navbar{
  text-align: center;
  margin:auto;
}
 header i{
  color:black;
}
main{
  margin-top:70px;
}
.container1{
  text-align: center;
}
.container1 input{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border-color:black;
  border-width:1px;
}
.container1 h3{
  padding: 20px 3px;
  font-weight: 400;
  font-size: 25px;
}
.btn1{
  padding: 10px 10px;
  text-align: center;
}
.btn1 button{
  margin: 5px;
  padding: 10px 50px;
}
footer{
  background-color: black;
  text-align: center;
  color:white;
  padding:30px;
  margin-top: 40px;
}
.footer-icons{
  color:white;
  font-size:35px;
  padding :10px;
}

.footer-bottom{
  margin: bottom;
}
